* {
    box-sizing: border-box
}

.conteiner {
    border: 5px solid black;
}

.header {}

.menu {
    width: 100%;
    border: 5px solid red;
    display: flex;
    
}

.uno {
    width: 70%;
    border: 5px solid green;
}

.dos {
    width: 10%;
    text-align: center;
    border: 5px solid green;
}

.tres {
    width: 10%;
    text-align: center;
    border: 5px solid green;
}

.cuatro {
    width: 10%;
    text-align: center;
    border: 5px solid green;
}

/*=======================================*/

.texto {
    width: auto;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 5px solid yellow;
}

/*=======================================*/

.servicios {
    width: 100%;
    color:red;
    text-align: center;
    border: 5px solid cyan;
    
}

.tabla {
    width: 100%;
    color:black;
    border: 5px solid red;
    display: flex;
}

.col1{
    width: 33%;
    border: 5px solid green;
}

.col2{
    width: 33%;
    border: 5px solid green;
}

.col3{
    width: 33%;
    border: 5px solid green;
}

.foto1 {
    width: 100%;
}

/*=======================================*/
footer {
    margin-top: 10%;
    width: 100%;
    border: 5px solid blue;
    
}

/*=======================================*/
.tabla2 {

    width: 40%;
    text-align: center;
    display: flex;
    border: 5px solid yellowgreen;
    margin-left:auto;
    margin-right:auto;

}

.f1 {
    color: black;
    text-align: center;
    width: 10%;
    height: auto;
    border: 5px solid black;
    margin-top: auto;
    margin-bottom: auto;
}

.f2 {
    color: black;
    text-align: center;
    width: 10%;
    height: auto;
    border: 5px solid black;
    margin-top: auto;
    margin-bottom: auto;
}

.f3 {
    color: black;
    text-align: center;
    width: 10%;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
}

.f4 {
    color: black;
    text-align: center;
    width: 70%;
    border: 1px solid black;
        margin-top: auto;
    margin-bottom: auto;
}





.fc {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.ig {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.wp {
    width: 100%;
    height: auto;
    border: 1px solid black;
}